extends ../layout

block head-content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.min.js", integrity="sha512-xsoiisGNT6Dw2Le1Cocn5305Uje1pOYeSzrpO3RD9K+JTpVH9KqSXksXqur8cobTEKJcFz0COYq4723mzo88/Q==", crossorigin="anonymous")

  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css", integrity="sha512-vmXqikRa5kmI3gOQygzml5nV+5NGxG8rt8KWHKj8JYYK12JUl2L8RBfWinFGTzvpwwsIRcINy9mhLyodnmzjig==", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js", integrity="sha512-E+gDQcIvNXE60SjCS38ysf1mGh4ObBpKcUOp0oEaHQHQAdaN2p7GelOpgEdpTuCLoIJyLkNXiqFZbyD9Ak/Ygw==", crossorigin="anonymous")
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cropper/1.0.1/jquery-cropper.min.js", integrity="sha512-V8cSoC5qfk40d43a+VhrTEPf8G9dfWlEJgvLSiq2T2BmgGRmZzB8dGe7XAABQrWj3sEfrR5xjYICTY4eJr76QQ==", crossorigin="anonymous")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js", integrity="sha512-WiGQZv8WpmQVRUFXZywo7pHIO0G/o3RyiAJZj8YXNN4AV7ReR1RYWVmZJ6y3H06blPcjJmG/sBpOVZjTSFFlzQ==", crossorigin="anonymous")

  link(rel="stylesheet" href="/css/images.css")
  script(src="/js/images.js")

  meta(name="page-id", content="newImages")

block layout-content
    h1.mt-5.text-white.text-center Cover processor
    br
    div.card.dopzone(data-behavior='cover-uploader')
        div.card-body
            input.cover-image.image-upload.text-primary.font-weight-bold(type="file", name="file", data-title="Drop cover image here", data-behavior='cover-load')
    br
    div.row.cover-container
        div.col
            div.d-none(data-behavior="cover-container")
                div.card
                    div.card-body
                        div(data-behavior="cover-preview")
                            //- IMAGE PREVIEW
                        div.text-center.m-2
                            i Drag and scroll on the image to resize
                        div.flex-centered
                            //- ROTATE LEFT
                            i.fas.fa-undo.fa-2x.text-primary.pointer(data-behavior="cover-rotate", data-deg="-90")
                            //- ROTATE RIGHT
                            i.fas.fa-undo.fa-2x.text-primary.pointer.mirror.ml-2(data-behavior="cover-rotate", data-deg="90")
                        div.flex-centered
                            //- SUBMIT
                            button.btn.btn-primary.btn-sm(data-behavior="cover-submit") Process image