extends layout

block head-content
  link(rel="stylesheet" href="/css/dashboard.css")
  link(rel="script" href="/js/dashboard.js")

block layout-content
  h1.mt-5.text-white.text-center A Journey for Wisdom Management Console
  br
  div.card-deck.mt-5.mx-auto
    div.card.py-3
        a(href='/posts')
            div.card-body.text-center
                div.card-text
                    i.fas.fa-file-alt.fa-5x
                    br
                    br
                    b View posts
    div.card.py-3
        a(href='/podcasts')
            div.card-body.text-center
                div.card-text
                    i.fas.fa-podcast.fa-5x
                    br
                    br
                    b View podcast
    div.card.py-3
        a(href='/tweets')
            div.card-body.text-center
                div.card-text
                    i.fab.fa-twitter.fa-5x
                    br
                    br
                    b View tweets