extends layout

block head-content
  link(rel="stylesheet" href="/css/dashboard.css")
  script(src="/js/dashboard.js")

  meta(name="page-id", content="dashboard")

block layout-content
  h1.mt-5.text-white.text-center A Journey for Wisdom Management Console
  br
  div.card-deck.mt-5.mx-auto
    div.card.py-3
        a(href='/posts/new')
            div.card-body.text-center
                div.card-text
                    i.fas.fa-file-alt.fa-5x
                    br
                    br
                    b Create post draft
    div.card.py-3
        a(href='/podcasts/new')
            div.card-body.text-center
                div.card-text
                    i.fas.fa-podcast.fa-5x
                    br
                    br
                    b Publish podcast episode
    div.card.py-3
        a(href='/tweets')
            div.card-body.text-center
                div.card-text
                    i.fab.fa-twitter.fa-5x
                    br
                    br
                    b View tweets pool
  div.card-deck.mt-5.mx-auto
    div.card.py-3
        a(href='/images')
            div.card-body.text-center
                div.card-text
                    i.fas.fa-images.fa-5x
                    br
                    br
                    b Manage post images
    div.card.py-3
        a(href='/images/new')
            div.card-body.text-center
                div.card-text
                    i.fas.fa-image.fa-5x
                    br
                    br
                    b Process cover image