extends layout

block head-content
  link(rel="stylesheet" href="/css/home.css")
  script(src="/js/home.js")

  meta(name="page-id", content="error")

block layout-content
  h1.mt-5.text-white.text-center An error occurred!
  br

  h2.mt-5.text-white.text-center !{error}