extends layout

block head-content
  link(rel="stylesheet" href="/css/home.css")
  script(src="/js/home.js")

block layout-content
  h1.mt-5.text-white.text-center A Journey for Wisdom Management Console
  br
  div.card.mt-5.py-3.w-25.mx-auto
    a(href='/auth/wordpress')
      div.card-body.text-center
        div.card-title
          b Wordpress Access
        div.card-text
          i.fas.fa-sign-in-alt.fa-5x
          p Please click here to login