
.container em.hashtag {
    font-weight: bolder;
}

.container em.url {
    color: blue;
}

.container textarea {
    min-height: 200px;
}

.container input.pubdate {
    border-color: transparent;
    background-color: transparent;
    color: blue;
    font-weight: bold;
    padding: 0 0 0 5px;
}