/* Data */
.container em.hashtag {
    font-weight: bolder;
}

.container em.url {
    color: blue;
}

/* highlight excess text */
.container .tweet-composer {
    position: relative;
    z-index: 1;
}

.container .js-keeper-editor {
    border: 1px solid #dadada;  
}
  
.container .js-keeper-editor,
.container .js-keeper-placeholder-back {
    background: transparent;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px; /* Same font for both. */
    margin: auto;
    min-height: 200px;
    outline: none;
    padding: 10px;
    resize: vertical;
    width: 100%;
}
.container .js-keeper-placeholder-back {
    bottom: 0;
    color: transparent;
    left: 0;
    position: absolute;
    top: 25px;
    white-space: pre-wrap;
    width: 100%;
    word-wrap: break-word;
    z-index: -1;
}
.container .js-keeper-placeholder-back em.excess {
    background: orange !important;
}
.container .js-keeper-placeholder-back em.hashtag {
    background: lightblue !important;
    font-weight: normal;
}
.container .js-keeper-placeholder-back em.url {
    background: lightgreen !important;
    color: black;
}