extends ../layout

block head-content
  script(src="/js/tweetparser.js")

  link(rel="stylesheet" href="/css/tweets.css")
  script(src="/js/tweets.js")
  
  meta(name="page-id", content="newTweet")

block layout-content
  h1.mt-5.text-white.text-center Create a tweet
  br
  
  div.row
    div.col-xl-6.offset-xl-3.col-lg-8.offset-lg-2.col-10.offset-1
      div.card.p-3
        div.card-text
          form(action="/tweets/create", method="post")
            div.form-group.tweet-composer
              label(for='text')
              textarea.form-control.js-keeper-editor(name="text", data-behavior='tweet-parse', placeholder="I pooped today! #blessed")
              div.js-keeper-placeholder-back
              small.float-left.form-text.text-muted Enter a clever tweet no more than 280 characters long.
              span.float-right(data-behavior='tweet-length')
            br
            center
              input.btn.btn-md.btn-primary.px-4(type="submit", value="Save")