extends ../layout

block head-content
  link(rel="stylesheet" href="/css/posts.css")
  link(rel="script" href="/js/posts.js")

block layout-content
  h1.mt-5.text-white.text-center Posts
  br

  each item in items
    div.row
      div.card.w-100.p-3
        div.card-title
          b= item.title
        div.card-text= item.content