extends ../layout

block head-content
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css", integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js", integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==", crossorigin="anonymous")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js", integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==", crossorigin="anonymous")

  link(rel="stylesheet" href="/css/posts.css")
  script(src="/js/posts.js")

  link(rel="stylesheet" href="/css/validation.css")
  script(src="/js/validation.js")
  
  meta(name="page-id", content="newPost")

block layout-content
  h1.mt-5.text-white.text-center Create a post draft
  br
  
  div.row
    div.col-xl-6.offset-xl-3.col-lg-8.offset-lg-2.col-10.offset-1
      div.card.p-3
        div.card-text
          form(action="/posts/create", method="post")
            div.form-group
                label(for='title') Title
                input.form-control(type="text", name="title", placeholder="Enter the post title", required=true)
            div.form-group
                label(for='excerpt') Excerpt
                textarea.form-control(name="excerpt", placeholder="Enter the post excerpt", required=false)
            div.form-group
                label(for='keywords') Keywords
                input.form-control(type="text", name="keywords", placeholder="Enter some keywords separated by comma", required=true)
                small.form-text.text-muted Example: Mental health, Habits, Success.
            br
            center
              input.btn.btn-md.btn-primary.px-4(type="submit", value="Create")