extends ../layout

block head-content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js", integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==", crossorigin="anonymous", referrerpolicy="no-referrer")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css", integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==", crossorigin="anonymous", referrerpolicy="no-referrer")
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js", integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==", crossorigin="anonymous", referrerpolicy="no-referrer")
  
  link(rel="stylesheet" href="/css/posts.css")
  script(src="/js/posts.js")

  link(rel="stylesheet" href="/css/validation.css")
  script(src="/js/validation.js")
  
  meta(name="page-id", content="newPost")

block layout-content
  h1.mt-5.text-white.text-center Create a post draft
  br
  
  div.row
    div.col-xl-6.offset-xl-3.col-lg-8.offset-lg-2.col-10.offset-1
      div.card.p-3
        div.card-text
          form(action="/posts/create", method="post")
            div.form-group
                label(for='title') Title
                input.form-control(type="text", name="title", placeholder="Enter the post title", required=true)
            div.form-group
                label(for='excerpt') Excerpt
                textarea.form-control(name="excerpt", placeholder="Enter the post excerpt", required=false)
            div.form-group
                label(for='keywords') Keywords
                input.form-control(type="text", name="keywords", placeholder="Enter some keywords separated by comma", required=true)
                small.form-text.text-muted Example: Mental health, Habits, Success.
            br
            center
              input.btn.btn-md.btn-primary.px-4(type="submit", value="Create")