extends ../layout

block head-content
  link(rel="stylesheet" href="/css/podcasts.css")
  script(src="/js/podcasts.js")

  meta(name="page-id", content="podcasts")

block layout-content
  h1.mt-5.text-white.text-center Podcasts
  br

  div.row
    a.btn.btn-sm.text-white.ml-auto(href='/podcasts/new')
      i.fas.fa-plus.fa-2x
  each item in items
    div.row
      div.card.w-100.p-3
        div.card-text
          div.row.no-gutters
            div.col 
              h3 !{item.title}
          div.row.no-gutters
            div.col !{item.description}
          div.row.no-gutters
            div.col.text-right
              small.text-muted #{item.pubDate}